################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoApi/obj/Debug
/AutoApi/packages
/AutoApi/bin/Debug
