################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoApi/obj/Debug
/AutoApi/packages
/AutoApi/bin/Debug
/AutoApi/.vs/AutoApi/v15/Server/sqlite3
